.testing {
  width: 71.42857%; }

.probando {
  color: black; }

.mirame {
  font-size: 14px; }

body {
  background: #FFF239; }

nav {
  font-size: 20px;
  color: blue;
  border: dotted black 7px; }
